<% layout('layout/boilerplate') %> 
    <div class="row text-white">
        <h1 class="text-center display-6">Edit Fitness Centre</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/gyms/<%= gym._id %>?_method=PUT" method="post" class="validated-form" novalidate enctype="multipart/form-data" >
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="gym[title]" value="<%= gym.title %>" required autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="gym[location]" value="<%= gym.location %> " required autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="contact">Contact Number</label>
                    <input class="form-control" type="tel" id="contact" name="gym[contact]" pattern="[0-9]{10}" required autocomplete="off">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price (per month)</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">Rs.</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="Price" aria-describedby="price-label" name="gym[price]" value="<%= gym.price %> " required autocomplete="off">
                      </div>
                    </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="gym[description]" required autocomplete="off"><%= gym.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="iamges" class="form-label">Add More Image(s) </label>
                    <input class="form-control" type="file" id="images" name="image" multiple>
                  </div>
                <div class="mb-3">
                    <% gym.images.forEach((img,i)=>{%> 
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                           <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>"> 
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })  %> 
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Fitness Centre</button>  
                </div>
            </form>
            <a class="h5" href="/gyms/<%= gym._id %> ">Back To Fitness Centre</a>
        </div>
    </div>   